
 body {
     margin: 0;
     font-family: 'Montserrat', sans-serif;
 }

 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, h6, p {
     margin: 0;
     padding: 0;
     }

.sayHello {
    width: 100%;
    height: 100vh;
    background-color: #eff0f2;
	box-sizing: border-box;
}

.container_sayHello {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    height: 110px;
    display: flex;
    align-items: flex-end;
}
.logo a {
    box-sizing: border-box;
    width: 113px;
	height: 46px;
	border: 6px solid black;
	text-align: center;
    font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo a:hover {
	border: 4px solid black;
	transition: ease-out 0.05s;
	background: rgb(183, 183, 187);
	color: white;
}

.logo span {
    font-size: 19px;
    color: #77efe5
}

header {
    padding-top: 195px;
    text-align: center;
}

header h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: #505050;
    text-shadow: #c9c9cb 5px 10px 10px;
	letter-spacing: 1px;
	word-spacing: 2px;
}

header h2 {
	padding-top: 4.5px;
}

header h1 span {
	background: #77efe5;
	padding: 0 10px
}


header h2 span {
	background: #77efe5;
	padding: 0 10px
}


.button_and_glass {
    display: flex;
    justify-content: center;
    padding-top: 139px;

}

.img_glass {
    display: flex;
	justify-content: center;
}

.img_glass_box {
	height: 100px;
	position: relative;
}
.glass {
	position: absolute;
	left: 960px;
	bottom: 32px;
}


.btnContactUs {
	width: 233px;
	height: 53px;
	border: solid 2px #777879;
	transition: ease-out 0.1s;
	font-family: Montserrat-Regular;
	color: #777879;
    font-size: 18px;
	letter-spacing: 2px;
	word-spacing: 2px;
	outline: none;
}

.btnContactUs:hover {

	border: solid 2px rgb(100, 98, 98);
	background-color:rgb(183, 183, 187);
	color: white;
	border-radius: 3px;
	font-size: 20px;
}

/* ***********ABOUT US ******************************/

.aboutUS {
	width: 100%;
    height: 100%;
    background-color: #f8fafa;
}

.title, .underTitle {
    text-align: center;
}

.title {
    padding-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;  
    font-size: 40px;
    color:black;
}

.underTitle {
    font-family: Merriweather-Regular;
    font-size: 19px;
    text-transform: uppercase;
    color: #8d8e8e;
}

.container_compAndText {
    padding-top: 140px;
    max-width: 1072px;
    margin: 0 auto;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;

}

.aboutUs__info {
    padding-top: 8px;
    max-width: 474px;
}

.aboutUs__info.text {
    padding-bottom: 32px;
    font-family: 'Raleway', sans-serif; 
    font-weight: regular;  
    font-size: 17px;
    color: #585858;
    text-align: justify;
}

.aboutUs__info h3 {
    padding-bottom: 32px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;  
    font-size: 20px;
}

.aboutUs__info.middle {
    max-width: 450px;
}

.aboutUs__info.bottom {
    max-width: 474px;
    text-align: justify;
}


/* ***********FEATURED WORKS ******************************/

.featuredWorks {
	width: 100%;
	height: 100%;
    background-color:white;
}

.container_foodAndOther {
    padding-top: 120px;

    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_foodAndOther {
    padding-bottom: 13px;
}

.img_foodAndOther:hover {
opacity: 0.5;
}

/* ***********SMALL TEAM ******************************/

.smallTeam {
	width: 100%;
	height: 100%;
    background-color:white;
}
.container_smallTeam {
    padding-top: 120px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_smallTeam {
    padding-bottom: 13px;
}

.adressAndForm {
    padding-top: 120px;
	width: 100%;
	height: auto;
	background-image: url("../images/Christmas.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 125px;
}

.container_adressAndForm{
	max-width: 1140px;
	height: auto;
	margin: 0 auto;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

.container_Form {
	width: 610px;
	height: auto;
	background-color: #4a5862;
	box-sizing: border-box;
	padding: 30px;
}

.form_Type {
	display: flex;
	align-items: center;
	height: 38px;
	border-bottom: 2px solid #616e77;
	margin-bottom: 20px;
}

.form_Type input {
	border: none;
	background-color: #4a5862;
	color: #b7bdc0;
}

.form_Type input::placeholder {
	font-family:'Raleway-Regular', sans-serif;
	font-size: 15px;
	color: #b7bdc0;
}

.form_Type input:focus {
	outline: none;
	background-color: #4a5862;
	color: #b7bdc0;
}

.form_Type input:focus-visible {
	outline: none;
	background-color: #4a5862;
	color: #b7bdc0;
}

.form_Textarea {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #616e77;
	margin-top: 20px;
}
.form_Textarea textarea {
	max-height: 100px;
	min-height: 100px;
	border: none;
	background-color: #4a5862;
	color: #b7bdc0;
}
.form_Textarea textarea::placeholder {
	font-family:'Raleway-Regular', sans-serif;
	font-size: 15px;
	color: #b7bdc0;
}
.form_Textarea textarea:focus {
	outline: none;
	background-color: #4a5862;
	color: #b7bdc0;
}
.container_Form button {
	font-family:'Montserrat-Regular', sans-serif;
	font-size: 18px;
	width: 244px;
	height: 51px;
	background-color: #6eeee4;
	margin-top: 61px;
	border: none;
	color: black
	letter-spacing: 10px
}
.container_Form button:hover {
	border: 3px solid #1b1b1b;
	color: black;
	background-color: #50b4ac;
}

.ContactsAndMaps {
	width: 500px;
	height: auto;
	box-sizing: border-box;
	padding:20px;
	background-color: #4a5862;
}

.containerContacts {
	padding:10px 10px 0px 10px;
	box-sizing: border-box;
	margin-top: 10px;
}

.containerContacts p {
	font-family:'Raleway', sans-serif;
	font-weight: regular; 
	font-size: 15px;
	color:#cfd2d5;
	line-height: 1.7;
}

footer {
	box-sizing: border-box;
	background-color: #262b2e;
	width: 100%;
	height: 325px;
	padding-top: 90px;
	padding-bottom: 150px;
}

footer p {
	font-family:'Raleway', sans-serif;
	font-weight: regular; 
	font-size: 15px;
	color: #bec0c1;
	text-align: center;
	padding-bottom: 20px;
}

.footer__Social {
	width: 190px;
	margin: 0 auto;;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.footer__SocialSquare {
	width: 40px;
	height: 40px;
	background-color: #262b2e;
}
.footer__SocialSquare a {
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__SocialSquare a > svg{
	fill: #bbb8b9;
}

.footer__SocialSquare:hover{
	background: #70f6eb;
}
.footer__SocialSquare a:hover > svg *{
	fill: black;
}

@media (max-width: 1200px) {

	.container_Form, .ContactsAndMaps {
		width: 100%;
	}
}



@media (max-width: 800px) {

	header {
		padding-top: 103px;
	}
	.logo {
		display: flex;
		justify-content: center;
	}
	header h1 {
		font-size: 35px;
		color: #505050;
		text-shadow: #c9c9cb 5px 10px 10px;
		letter-spacing: 1px;
	}
	.title {
		padding-top: 30px;
	}
	.container_compAndText {
		padding-top: 50px;
	}
	.aboutUs__info h3 {
		text-align: center;
	}

























}
@media (max-width: 480px) {

	header {
		padding-top: 50px;
	}
	header h1 {
		font-size: 25px;
		color: #505050;
		text-shadow: #c9c9cb 5px 10px 10px;
		letter-spacing: 1px;
	}

	.btnContactUs {
		width: 200px;
		height: 43px;
		border: solid 2px #777879;
		font-size: 14px;
		outline: none;
	}
	.btnContactUs:hover {
	
		border-radius: 2px;
		font-size: 16px;
	}
	.img_glass {
		justify-content: center;
		scale (2);
		padding-right: 0;
	}
